
<div>
    <form class="align-middle" ng-submit="tryToAuth()">
        <div class="input-group input-group-sm" style="padding: 4px;" >
            <input id="navLoginField" class="form-control" ng-model="user.username" type="text" style="margin-left: 10px;"
               aria-describedby="inputGroup-sizing-sm">
            <p></p>
            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password" style="margin-left: 10px;"
              aria-describedby="inputGroup-sizing-sm">
            <p></p>
            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                style="margin-left: 10px;" type="submit">Войти
            </button>
        </div>
    </form>
    <button class="btn btn-outline-secondary btn-sm" ng-click="NavToRegistration()">Зарегистрироваться</button>
</div>